<ul class="sidebar-nav"
  style="position: static;width:100%">
  <!-- <li class="sidebar-brand">
    <a href="#">
      Start Bootstrap
    </a>
  </li> -->
  <li>
    <a href="#">Dashboard</a>
  </li>
  <li>
    <a href="#">Shortcuts</a>
  </li>
  <li>
    <a href="#">Overview</a>
  </li>
  <li>
    <a href="#">Events</a>
  </li>
  <li>
    <a href="#">About</a>
  </li>
  <li>
    <a href="#">Services</a>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>
</ul>
<div style="display:block;width:100%;height:300px;"
  (dragover)="allowDrop($event)" 
  (drop)="onDrop($event)"
  (dragenter)="dragenter($event)" 
  (dragleave)="dragleave($event)">
    >
  <div class="container" appHostingElement>
    
  </div>
</div>
