<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" app-menu></div>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
     
      <div class="btn btn-secondary" id="menu-toggle" (click)="toggleMenu()">Toggle Menu</div>
      <div class="btn btn-secondary" (click)="showObjState()">Show Obj State</div>
      <app-component-factory></app-component-factory>
      <app-allow-container></app-allow-container>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<!-- <script src="node_modules/jquery/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->