<div class="card" style="padding:20px">
    <div class="card-block col-12" style="padding-bottom:10px">
        <form>
            <div class="row">
                <div class="col-2">
                    <label>Choose the Component</label>
                </div>
                <div class="col-6">
                    <p-dropdown [options]="componentOptions" name="componentdd" [autoWidth]="false" [(ngModel)]="choseComponent" (onChange)="generate()"></p-dropdown>
                </div>
            </div>

        </form>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-block" style="padding:10px">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>